<div>
<h1 [style.text-align]="alignment()">Website of {{Name}}</h1> <!-- Value Passed -->
<p [style.text-align]="alignment()">{{SiteData.LogoImage}}</p>
<div class="center">
<img [src]="SiteData.LogoImage" width={{SiteData.Width}} height="{{SiteData.Height}}"   alt="image">
</div>
<h3 [style.text-align]="alignment()">Clicks Count</h3>
<div class="center">
<button (click)="ButnClick(true)"><h4>Click Here ++</h4></button> &nbsp;
<button (click)="ButnClick(false)"><h4>Click Here --</h4></button>
</div>
<h4 [style.text-align]="alignment()">{{Count == 0 ? '' : Count}}</h4>
<div class="center">
<input type="text" placeholder="Type Text Here" [style.text-align]="alignment()" [(ngModel)]="strContent">
</div>
<h4 [style.text-align]="alignment()">{{strContent}}</h4>
<div class="center">
  <table>  
    <tbody>
      <tr>
        <td width={{SiteData.Width}}><b>Name</b></td>
        <td width={{SiteData.Width}}><b>Price</b></td>
        <td width={{SiteData.Width}}><b>Image</b></td>
      </tr>
    </tbody>
    </table>
</div>
<br>
<div class="center">
  <table>   
   <tbody *ngFor="let fruit of Fruits">    
      <tr>
        <td width={{SiteData.Width}}>{{fruit.name}}</td>
        <td width={{SiteData.Width}}>{{fruit.price}}</td>
        <td><img src={{fruit.image}} width={{SiteData.Width}} height="{{SiteData.Height}}" ></td>
      </tr>
   </tbody>
  </table>
</div>
</div>