<div>
  <nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MJ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div style="padding-top: 6%;">
<h1 [style.text-align]="alignment()">Website of {{Name}}</h1> <!-- Value Passed -->
<p [style.text-align]="alignment()">{{SiteData.LogoImage}}</p>
<div class="center">
<img [src]="SiteData.LogoImage" width={{SiteData.Width}} height="{{SiteData.Height}}"   alt="image">
</div>
<h3 [style.text-align]="alignment()">Clicks Count</h3>
<div class="center">
<button type="button" class="btn btn-primary" (click)="ButnClick(true)">Click Here ++</button> &nbsp;
<button type="button" class="btn btn-primary" (click)="ButnClick(false)">Click Here --</button>
</div>
<h4 [style.text-align]="alignment()">{{Count == 0 ? '' : Count}}</h4>
<div class="center">
<input type="text" style="width: 30%;" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Type Here" [style.text-align]="alignment()" [(ngModel)]="strContent">
</div>
<h4 [style.text-align]="alignment()">{{strContent}}</h4>
<div class="center">
  <table>  
    <tbody>
      <tr>
        <td width={{SiteData.Width}}><b>Name</b></td>
        <td width={{SiteData.Width}}><b>Price</b></td>
        <td width={{SiteData.Width}}><b>Image</b></td>
      </tr>
    </tbody>
    </table>
</div>
<br>
<div class="center">
  <table>   
   <tbody *ngFor="let fruit of Fruits">    
      <tr>
        <td width={{SiteData.Width}}>{{fruit.name}}</td>
        <td width={{SiteData.Width}}>{{fruit.price}}</td>
        <td><img src={{fruit.image}} width={{SiteData.Width}} height="{{SiteData.Height}}" ></td>
      </tr>
   </tbody>
  </table>
</div>
</div>
</div>